<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<div th:fragment="bookCards(books)" class="row row-cols-6 g-5">
    <div th:each="book : ${books}" th:insert="~{:: bookCard(book)}"></div>
</div>

<div th:fragment="bookCardsNew(books)" class="row row-cols-6 g-4">
    <div th:each="book : ${books}" th:insert="~{:: bookCard(book)}"></div>

    <div class="col h-100">
        <div class="card h-100">
            <div class="card-body align-content-center text-center">
                <a th:href="@{/book/add}">Add a new book</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="bookCard(book)" class="col h-100">
    <!--/*@thymesVar id="book" type="nl.miwnn.ch17.vincent.librarydemo.model.Book"*/-->

    <div class="card h-100">
        <a th:href="@{/book/detail/{title}(title = ${book.title})}">
            <img height="275" th:src="${book.coverImageUrl}" class="card-img-top object-fit-cover" th:alt="|Cover image for ${book.title}|">
        </a>
        <div class="card-body text-center bg-body-secondary">
            <a th:href="@{/book/detail/{title}(title = ${book.title})}">
                <h5 class="card-title" th:text="${book.title}"></h5>
            </a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:each="author : ${book.authors}">
                <a th:href="@{/author/details/{name}(name = ${author.name})}" th:text="${author.name}"></a>
            </li>
        </ul>
        <div class="card-footer">
            <h6 class="card-subtitle text-center"><span th:text="${book.availableNumberOfCopies}"></span> available out of <span th:text="${book.numberOfCopies}"></span> copies</h6>
        </div>
    </div>
</div>

<div th:fragment="bookForm(formBook, allAuthors, allGenres, #fields)">
    <!--/*@thymesVar id="allAuthors" type="java.util.List<nl.miwnn.ch17.vincent.librarydemo.model.Author>"*/-->
    <!--/*@thymesVar id="formBook" type="nl.miwnn.ch17.vincent.librarydemo.model.Book"*/-->

    <form th:action="@{/book/save}" method="post" th:object="${formBook}" class="row g-3 justify-content-center">
        <input type="hidden" th:field="*{bookId}">

        <div class="col-md-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" placeholder="Title of the book" th:field="*{title}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-floating">
                <textarea class="form-control" style="height: 8em" placeholder="Give a description for this book" id="description" th:field="*{description}"></textarea>
                <label for="description">Description</label>
            </div>
        </div>

        <div class="col-md-8">
            <label for="genre" class="form-label">Genre</label>
            <select class="form-select" id="genre" th:field="*{genre}">
                <option th:each="genre : ${allGenres}"
                        th:text="${genre.fullName}"
                        th:value="${genre.genreId}">
                </option>
            </select>
        </div>

        <div class="col-md-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="coverImageUrl" placeholder="Title of the book" th:field="*{coverImageUrl}">
                <label for="coverImageUrl">Cover image URL</label>
            </div>
        </div>

        <div class="col-md-8">
            <label for="authors" class="form-label">Author(s)</label>
            <select class="form-select" id="authors" th:field="*{authors}" multiple>
                <option th:each="author : ${allAuthors}"
                        th:text="${author.name}"
                        th:value="${author.authorId}">
                </option>
            </select>
        </div>

        <div class="col-md-8 justify-content-center">
            <button type="submit" class="btn btn-primary">
                <span th:if="${formBook.bookId == null}">Add book</span>
                <span th:unless="${formBook.bookId == null}">Update book</span>
            </button>
        </div>
    </form>
</div>


</html>