<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
</head>
<body>

<h1>Add a new book</h1>

<form th:action="@{/book/save}" method="post" th:object="${formBook}">
    <input type="hidden" th:field="*{bookId}">
    Title: <input type="text" th:field="*{title}">

    Author:
    <select th:field="*{authors}" multiple>
        <option th:each="author : ${allAuthors}"
                th:text="${author.name}"
                th:value="${author.authorId}">
        </option>
    </select>
    <input type="submit" value="Save book">
</form>

<p>
    <a th:href="@{/book/all}">Show Book overview</a>
</p>

</body>
</html>