<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:text="|Details for ${book.title}|"></title>
</head>

<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Detail for <span th:text="${book.title}"></span></h1>

    <a th:href="@{/copy/new/{bookId}(bookId = ${book.bookId})}">Buy</a>
    <a th:href="@{/book/edit/{title}(title = ${book.title})}"><i class="bi bi-pencil"></i> Edit</a>
    <a th:href="@{/book/delete/{bookId}(bookId = ${book.bookId})}">Delete</a>

    <h2>Authors</h2>

    <ul>
        <li th:each="author : ${book.authors}" th:text="${author.name}"></li>
    </ul>

    <h2>Copies</h2>

    <p>
        <span th:text="${book.availableNumberOfCopies}"></span> copies available out of a total of <span th:text="${book.numberOfCopies}"></span> copies owned.
    </p>

    <ul>
        <li th:each="copy : ${book.copies}">
            <a th:if="${copy.available}" th:href="@{/copy/borrow/{copyId}(copyId = ${copy.copyId})}">borrow</a>
            <a th:unless="${copy.available}" th:href="@{/copy/return/{copyId}(copyId = ${copy.copyId})}">return</a>
            (<span th:text="${copy.copyId}"></span>)
        </li>
    </ul>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>