<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Overview of all the books</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Overview of all the books</h1>

    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col" th:each="book : ${books}">
            <div class="card h-100">
        <!--        <img src="..." class="card-img-top" alt="...">-->
                <div class="card-header text-center">
                    <a th:href="@{/book/detail/{title}(title = ${book.title})}"><h5 class="card-title" th:text="${book.title}"></h5></a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="author : ${book.authors}" th:text="${author.name}"></li>
                </ul>
                <div class="card-body"></div>
                <div class="card-footer">
                    <h6 class="card-subtitle mb-2 text-body-secondary"><span th:text="${book.availableNumberOfCopies}"></span> available out of <span th:text="${book.numberOfCopies}"></span> copies</h6>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
        <!--        <img src="..." class="card-img-top" alt="...">-->
                <div class="card-body align-content-center text-center">
                    <a th:href="@{/book/add}">Add a new book</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>