<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail for a book</title>
</head>
<body>

<h1>Detail for <span th:value="${book.title}"></span></h1>

<a th:href="@{/copy/new/{bookId}(bookId = ${book.bookId})}">Buy</a>
<a th:href="@{/book/edit/{title}(title = ${book.title})}">edit</a>
<a th:href="@{/book/delete/{bookId}(bookId = ${book.bookId})}">delete</a>

<h2>Authors</h2>

<ul>
    <li th:each="author : ${book.authors}" th:text="${author.name}"></li>
</ul>

<h2>Copies</h2>

<p>
    <span th:text="${book.availableNumberOfCopies}"></span> copies available out of a total of <span th:text="${book.numberOfCopies}"></span> copies owned.
</p>

<ul>
    <li th:each="copy : ${book.copies}">
        <a th:if="${copy.available}" th:href="@{/copy/borrow/{copyId}(copyId = ${copy.copyId})}">borrow</a>
        <a th:unless="${copy.available}" th:href="@{/copy/return/{copyId}(copyId = ${copy.copyId})}">return</a>
        (<span th:text="${copy.copyId}"></span>)
    </li>
</ul>

<p>
    <a th:href="@{/book/all}">Show Book overview</a>
</p>

</body>
</html>