<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:if="${formBook.bookId == null}">Add a new book</title>
    <title th:unless="${formBook.bookId == null}" th:text="|Edit ${formBook.title}|"></title>
</head>

<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1 th:if="${formBook.bookId == null}">Add a new book</h1>
    <h1 th:unless="${formBook.bookId == null}" th:text="|Edit ${formBook.title}|"></h1>

    <form th:action="@{/book/save}" method="post" th:object="${formBook}">
        <input type="hidden" th:field="*{bookId}">
        Title: <input type="text" th:field="*{title}">

        Author:
        <select th:field="*{authors}" multiple>
            <option th:each="author : ${allAuthors}"
                    th:text="${author.name}"
                    th:value="${author.authorId}">
            </option>
        </select>
        <input type="submit" value="Save book">
    </form>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>