<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:text="${book.title}"></title>
</head>

<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container col-8 ">
    <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-6 col-sm-4 col-lg-3">
            <img class="object-fit-cover w-100" th:src="${book.coverImageUrl}" th:alt="|Image for ${book.title}|">
        </div>
        <div class="col-6 col-sm-8 col-lg-9">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center" th:text="${book.title}"></h1>
            <p class="lead" th:text="${book.description}"></p>
            <div class="d-flex justify-content-evenly"  sec:authorize="isAuthenticated()">
                <a class="btn btn-primary" th:href="@{/book/edit/{title}(title = ${book.title})}" role="button"><i class="bi bi-pencil"></i> Edit<br><span th:text="${book.title}"></span></a>
                <a class="btn btn-danger" th:href="@{/book/delete/{bookId}(bookId = ${book.bookId})}" role="button"><i class="bi bi-trash"></i> Delete<br><span th:text="${book.title}"></span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <h2 class="text-center">Authors</h2>
            <div th:replace="~{fragments/author :: authorCards(${book.authors})}" class="text-center"></div>
        </div>

        <div class="col-3">
            <h2 class="text-center">Copies</h2>

            <p>
                <span th:text="${book.availableNumberOfCopies}"></span> copies available out of a total of <span th:text="${book.numberOfCopies}"></span> copies owned.
            </p>

            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/copy/new/{bookId}(bookId = ${book.bookId})}" class="btn btn-danger w-100">Get additional copy</a>

                <ul class="list-unstyled">
                    <li th:each="copy : ${book.copies}" class="mt-2">
                        <a th:if="${copy.available}" class="btn btn-outline-primary w-100" role="button" th:href="@{/copy/borrow/{copyId}(copyId = ${copy.copyId})}">borrow (<span th:text="${copy.copyId}"></span>)</a>
                        <a th:unless="${copy.available}" class="btn btn-outline-secondary w-100" role="button" th:href="@{/copy/return/{copyId}(copyId = ${copy.copyId})}">return (<span th:text="${copy.copyId}"></span>)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>