<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all the books</title>
</head>
<body>

<h1>Overview of all the books</h1>

<table>
    <thead>
        <tr>
            <td>Title</td>
            <td>Available</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tr th:each="book : ${books}">
        <td><a th:href="@{/book/detail/{title}(title = ${book.title})}" th:text="${book.title}"></a></td>
        <td><span th:text="${book.availableNumberOfCopies}"></span> / <span th:text="${book.numberOfCopies}"></span></td>
    </tr>
</table>

<a th:href="@{/book/add}">Add a new book</a>

<p>
    <a th:href="@{/author/all}">Show Author overview</a>
</p>
</body>
</html>